/* line 1, ../../sass/style.sass */
* {
  margin: 0;
  padding: 0;
}

/* line 4, ../../sass/style.sass */
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* line 8, ../../sass/style.sass */
body {
  width: 100%;
  height: 100%;
  background: #131313;
}

/* line 12, ../../sass/style.sass */
canvas {
  left: 50%;
  margin: -200px 0 0 -200px;
  position: absolute;
  top: 50%;
}
